h1 {
  color: red;
  padding: 97px;
  background-image: url("http://i.dailymail.co.uk/i/pix/2016/01/17/20/304442C800000578-3403987-image-a-32_1453064019909.jpg");

}
div {
  color: blue;
  padding: 18px;
  background-image: url("http://img.fifa.com/mm/photo/ballon-dor/general/02/73/58/85/2735885_xbig-lnd.jpg");
}
